<!-- Main Section -->

<section class="hero-section text-center">
  <div class="container container--narrow">
    <div class="hero-section__box">
      <h2>{{ search_title }}</h2>
    </div>

    <div class="hero-section__search">
      <form id="searchForm" class="form" action="" method="get">
        <div class="form__field">
          <label for="formInput#search">Поиск по проектам</label>
          <input class="input input--text" id="formInput#search" type="text" name="q" value="{{ search }}"
            placeholder="{{ search_placeholder }}" />
        </div>

        <input class="btn btn--sub btn--lg" type="submit" value="Поиск" />
      </form>
    </div>

  </div>
</section>


